.tableList{
    background-color: #1abc9c;
    color: #ffffff;
    font-style: italic
}

.navbar-brand {
    color: #ffffff
<<<<<<< HEAD
}

.tableList form {
    margin-left: 40%;
    margin-right: 40%;
}

.table tr :hover {
    background-color: gray;
}

.table tr {
    text-align: center;
    font-style: italic;
}

.glyphicon  {
    cursor: pointer;
    float: right;
    position: relative;
    margin-right: 10px ;
};

=======
}
>>>>>>> 5263fff7e55b088b188c12edca63288af73a9126
